@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

body {
    max-width: 100%;
    height: 100%;
    font-size: 18px;
    background-image: url('images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, section, footer {
    padding: 0 2rem;
}

.title {
    font-size: 2.2rem;
    margin: 50px 0 20px;
    color: var(--Dark-Grayish-Blue);
}

.button-download {
    display: flex;
    column-gap: 14px;
}

.btn {
    padding: 12px 30px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 700;
    transition: .2s;
}

.btn-ios {
    background-color: var(--Strong-Cyan);
    box-shadow: 0 5px 20px hsla(171, 66%, 38%, 0.4);
}

.btn-mac {
    background-color: var(--Light-Blue);
    box-shadow: 0 5px 20px hsla(233, 100%, 63%, 0.4);
}

.btn-ios:hover, .btn-mac:hover {
    opacity: 0.9;
}

.btn-ios:active {
    background-color: hsla(171, 66%, 44%, 0.8);
}

.btn-mac:active {
    background-color: hsla(233, 100%, 69%, 0.8);
}

/************* Contents ***************/
.container-text {
    max-width: 800px;
    text-align: center;
    margin-bottom: 2.5rem;
}

p {
    color: var(--Grayish-Blue);
    padding: 0 70px;
    line-height: 28px;
}

.content-1, .content-2, .content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    gap: 4rem;

}

/************* Content-1 ***************/
.content-1, .container-grid {
    position: relative;
}

.content-1 p {
    padding: 0 40px;
}

.container-grid {
    max-width: 1240px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.left img {
    height: 100%;
    position: absolute;
    left: -11rem;
    top: 0;
    z-index: 1;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 0 7rem;
}

.right .item h1 {
    margin-bottom: .5rem;
}

.right .item p {
    margin-bottom: 0;
    padding: 0;
    line-height: 2rem;
}

/************* Content-2 ***************/
.content-2 .container-text p {
    padding: 0 35px;
}

.content-2 img {
    width: 100%;
}

/************* Content-3 ***************/
.content-3 {
    padding: 0 8rem;
    gap: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    text-align: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    margin: 40px 0;
    height: 40px;
}

.card h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--Dark-Grayish-Blue);
}

.card p {
    line-height: 2rem;
    padding: 0;
}

/************* Partner ***************/
.partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 0;
    padding: 0 8rem;
}

/************* Content download ***************/
.content-download {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/************* Footer ***************/
.copyright {
    margin-top: 10rem;
    background-color: #f5f6f8;
    padding: 3rem 8rem;
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer img {
    width: 50px;
    height: 50px;
}

.logo-and-list {
    display: flex;
    column-gap: 8rem;
}

.list-footer-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 5rem;
    color: var(--Dark-Grayish-Blue);
}

.list-footer-grid li:hover {
    cursor: pointer;
    color: var(--Strong-Cyan);
    transition: .2s;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-icons .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.social-icons .icon:hover svg path {
    fill: var(--Strong-Cyan);
    transition: .2s;
}

.attribution {
    background-color: var(--Strong-Cyan);
    font-size: 11px;
    text-align: center;
    padding: 10px;
    color: white;
}

.attribution a {
    color: yellow;
}

/************* Media queries ***************/
@media screen and (max-width: 1100px) {
    .container-grid {
        grid-template-columns: 1fr;
        gap: 5rem;
        height: 100%;
    }

    .left img {
        position: relative;
        width: 100%;
        left: 0;
    }

    .right {
        text-align: center;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .partner {
        flex-direction: column;
        gap: 6rem;
    }

    .copyright,
    .logo-and-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
    }

    .list-footer-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        text-align: center;
    }

    .social-icons {
        gap: 2.5rem;
    }
}

@media screen and (max-width: 700px) {
    .right {
        padding: 0;
    }

    .content-3 {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
        background-image: url("images/bg-header-mobile.png");
        font-size: 1rem;
    }

    .container {
        padding: 0 100px;
    }

    header {
        margin: 60px 0;
    }

    .title {
        font-size: 2rem;
    }

    .container-text p,
    .content-2 .container-text p {
        padding: 0;
    }

    .button-download {
        flex-direction: column;
        row-gap: 24px;
        width: 100%;
    }

    .btn-ios, .btn-mac {
        padding: 20px;
    }
}